<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Dart1.My.MySettings.parcalarConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\parcalar.accdb"
            providerName="System.Data.OleDb" />
        <add name="Dart1.My.MySettings.Dart1VTConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Dart1VT.mdb"
            providerName="System.Data.OleDb" />
        <add name="Dart1.My.MySettings.Dart1VT222ConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Dart1VT222.mdb"
            providerName="System.Data.OleDb" />
        <add name="Dart1.My.MySettings.Database4ConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Database4.accdb"
            providerName="System.Data.OleDb" />
        <add name="Dart1.My.MySettings.VERITABANIConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\VERITABANI.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>